@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="Display"> Welcome to question 1</h1>
</div>

<div>
    <img src="~/Views/Home/images/pic1.jpg" styles="width:500px;height=500px" />
 
</div>